**/node_modules
node_modules

# Ignoring Server
apps/server/node_modules
apps/server/.env

# Ignoring Web
apps/server/node_modules
apps/web/.env

# Ignoring Troptix App
apps/troptix-app/node_modules
apps/troptix-app/.expo

# Ignoring Troptix Organizer
apps/troptix-organizer/node_modules
apps/troptix-organizer/.expo

# Ignoring Troptix Web
apps/web/node_modules
apps/web/.expo
apps/web/.env
.vercel

# Documentation
docs/
