**/node_modules
node_modules

# Ignoring Server
apps/server/node_modules
apps/server/.env

# Ignoring Web
apps/server/node_modules
apps/web/.env

# Ignoring Troptix Web
apps/web/node_modules
apps/web/.expo
apps/web/.env
.vercel

# Documentation
docs/
